#######################################################################################
# A default configuration that will be loaded for all jupyter books
# See the documentation for help and more options:
# https://jupyterbook.org/customize/config.html

#######################################################################################
# Book settings
title: PyPSA Meets Earth Lab 2025
author: Priyesh Gosai
copyright: "2025"
logo: logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: 'off'  # Don't execute notebooks, show them as-is
  timeout: 900  # 15 minutes
  allow_errors: true

only_build_toc_files: true

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Information about where the book exists on the web
repository:
  url: https://github.com/PriyeshGosai/pypsa-meets-earth-lab-2025
  branch: main

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

launch_buttons:
  colab_url: "https://colab.research.google.com"

parse:
  myst_enable_extensions:
  - amsmath
  - dollarmath
  - linkify
  - colon_fence
  - substitution

sphinx:
  config:
    nb_execution_show_tb: True
    html_js_files:
    - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js
